---
import Giscus from "@components/misc/Giscus.astro";
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const discussPost = await getEntry("spec", "discuss");

if (!discussPost) {
	throw new Error("About page content not found");
}

const { Content } = await render(discussPost);
---
<MainGridLayout title={"шоишо║"} description={}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
				<Giscus repo="zyxisme/giscus" repoId="R_kgDOP-gmBg" category="Announcements" categoryId="DIC_kwDOP-gmBs4CwZHF" />
				<script  data-host-id="1"  data-auto-reg="true"   data-login-token=""   data-title=""   data-logo=""  data-theme-color="#1fe1f9"   data-close-width="48"   data-close-height="48"   data-open-width="380"   data-open-height="680"   data-welcome="Your custom welcome text"   src="https://chat.zyx-blog.top/widget.js"   async ></script>
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>
